<h1>Phone Numbers</h1>

<h4>Select Country:</h4>
<select class="form-select" name="countries" id="countries" (change)="filterByCountry($event)">
  <option value="">All Countries</option>
  <option value="237">Cameroon</option>
  <option value="251">Ethiopia</option>
  <option value="212">Morocco</option>
  <option value="258">Mozambique</option>
  <option value="256">Uganda</option>
</select>

<br>

<h4>Valid Phone Numbers </h4>
<select class="form-select" name="valid" id="valid" (change)="filterByState($event)">
  <option value="">All</option>
  <option value="valid">Valid</option>
  <option value="notValid">Not Valid</option>
</select>

<br>
<br>
<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th scope="col">Country</th>
    <th scope="col">State</th>
    <th scope="col">Country Code</th>
    <th scope="col">Phone Number</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let phoneNumber of phoneNumbers | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
    <td>{{phoneNumber.countryName}}</td>
    <td>{{phoneNumber.state ? 'OK' : 'NOK'}}</td>
    <td>{{phoneNumber.countryCode}}</td>
    <td>{{phoneNumber.phoneNumber}}</td>
  </tr>
</table>
<ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"></ngb-pagination>
